<div class="custom-bundle-button" js-select-product-btn>add to bundle</div>
<div class="custom-quantity-input">
    <div class="quantity">
        <button class="quantity__button" name="minus" js-quantity-decrement type="button">
            <span class="visually-hidden">
                {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
            </span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.9497 7.50004H3.05025" stroke="#3E2B2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

        </button>
        <input
        js-quantity-input
        disabled 
        class="quantity__input"
        type="number"
        name="quantity"
        id="Quantity-{{ section.id }}"
        data-cart-quantity="{{ cart_qty }}"
        data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
        min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
        {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
            data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
            max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
        {% endif %}
        step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
        value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
        form="{{ product_form_id }}"
        >
        <button class="quantity__button" name="plus" js-quantity-increment type="button">
            <span class="visually-hidden">
                {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
            </span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.9497 7.50004H3.05025" stroke="#3E2B2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M8 2.55029V12.4498" stroke="#3E2B2E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
</div>