{{ 'partner-form.css' | asset_url | stylesheet_tag }}
<div class="partner_form">
  <div class="page-width">
    <div class="partner_form-wrapper">
      <div class="partner_form-content">
        <div class="form-text">
          <h2 class="partner_form-title">{{ section.settings.title }}</h2>
          <p class="partner_form-description">{{ section.settings.description }}</p>
        </div>
      </div>
      {% form 'contact', id: 'ContactForm', class: 'partner_contact-form' %}
        <div class="partner_form-right-sec">
          <div class="partner_form-inputs">
            <div class="partner_form-inputs-inner">
              <input type="text" placeholder="Name" class="cus_field-input">
              <div class="cus_field-wrapper">
                <div class="custom-dropdown">
                  <div class="selected-country" onclick="toggleDropdown()">
                    <span
                      id="selected-flag"
                      class="flag-background-image fi fi-{{ localization.available_countries[0].iso_code | downcase }}"
                    ></span>
                    <div class="icon-arrow">
                      <svg
                        height="20"
                        width="20"
                        viewBox="0 0 20 20"
                        aria-hidden="true"
                        focusable="false"
                        class=""
                        transform=""
                        style="fill: rgb(112, 112, 112);"
                      >
                        <path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path>
                      </svg>
                    </div>
                  </div>
                  <div id="dropdown-menu" class="dropdown-menu" style="display: none;">
                    {%- for country in localization.available_countries -%}
                      <div
                        class="dropdown-item"
                        onclick="selectCountry('{{ country.iso_code | downcase }}', '{{ country.name }}')"
                      >
                        <span
                          class="flag-background-image fi fi-{% if country.iso_code == 'en' %}gb{% else %}{{ country.iso_code | downcase }}{% endif %}"
                        ></span>
                        {{ country.name }}
                      </div>
                    {%- endfor -%}
                  </div>
                </div>
                <input type="tel" placeholder="Phone Number" class="cus_field-input">
              </div>
              <input type="email" placeholder="Enter your email address" class="cus_field-input">
              <input type="text" placeholder="Company" class="cus_field-input">
            </div>
          </div>

          <div class="checkbox-group">
            {%- for block in section.blocks -%}
              {%- if block.settings.checkbox_label != blank -%}
                <label class="checkbox_label" for="{{block.settings.checkbox_label}}">
                  <div class="checkbox_label-checkbox-inner">
                    <input type="checkbox" class="checkbox_label-checkbox" id="{{block.settings.checkbox_label}}">
                    <div class="icon-tick">
                      <svg
                        width="20px"
                        height="20px"
                        viewBox="0 0 20 20"
                        version="1.1"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <defs></defs><g id="checkbox_inner_Unique%20ID__7__22" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="checkbox-on-checkbox_inner_Unique%20ID__7__22" transform="translate(3.000000, 4.000000)" fill="#303B43"><polygon id="shape-checkbox_inner_Unique%20ID__7__22" fill="#000000" points="4.45454545 9.20149254 1.11363636 5.75373134 0 6.90298507 4.45454545 11.5 14 1.64925373 12.8863636 0.5"></polygon></g></g>
                      </svg>
                    </div>
                  </div>
                  <span class="checkbox_label-text">{{ block.settings.checkbox_label }}</span>
                </label>
              {%- endif -%}
            {%- endfor -%}
          </div>
          {%- if section.settings.sub_button != blank -%}
            <div class="contact__button ">
              <button type="submit" class="form-button">{{ section.settings.sub_button }}</button>
            </div>
          {%- endif -%}
        </div>
      {% endform %}
    </div>
  </div>
</div>
<script>
  function toggleDropdown() {
    const dropdownMenu = document.getElementById('dropdown-menu');
    dropdownMenu.style.display = dropdownMenu.style.display === 'none' ? 'block' : 'none';
  }

  function selectCountry(isoCode, countryName) {
    document.getElementById('selected-flag').className = `flag-background-image fi fi-${isoCode}`;
    document.getElementById('selected-country-name').textContent = countryName;
    document.getElementById('dropdown-menu').style.display = 'none';
  }
  document.addEventListener('click', function (event) {
    const dropdown = document.querySelector('.custom-dropdown');
    if (!dropdown.contains(event.target)) {
      document.getElementById('dropdown-menu').style.display = 'none';
    }
  });
</script>
{% schema %}
{
  "name": "Contact Form2",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "sub_button",
      "label": "Button Text"
    }
  ],
  "blocks": [
    {
      "name": "Checkbox Label",
      "type": "checkbox_label",
      "settings": [
        {
          "type": "text",
          "id": "checkbox_label",
          "label": "Checkbox Label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Form2"
    }
  ]
}
{% endschema %}
